- form_for(@task) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :due
    %br
    = f.date_select :due
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :status
    %br
    = f.enum_select :status
  %p
    = f.submit button_label
