<h1>Listing deals</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Description</th>
    <th>Status</th>
  </tr>

<% @deals.each do |deal| %>
  <tr>
    <td><%=h deal.company %></td>
    <td><%=h deal.description %></td>
    <td><%=h deal.status %></td>
    <td><%= link_to 'Show', deal %></td>
    <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
    <td><%= link_to 'Destroy', deal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New deal', new_deal_path %>