<p>
  <b>Company:</b>
  <%=h @deal.company %>
</p>

<p>
  <b>Description:</b>
  <%=h @deal.description %>
</p>

<p>
  <b>Status:</b>
  <%=h @deal.status %>
</p>


<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>