%p
  %b
    Company:
  = h @deal.company
%p
  %b
    Description:
  = h @deal.description
%p
  %b
    Status:
  = h @deal.status
= link_to 'Edit', edit_deal_path(@deal)
|
= link_to 'Back', deals_path
