<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html>
<head>
  <title> Simple CRM </title>
  <%= stylesheet_link_tag "layout", :media=>"all" %>
  <%= yield :head %>
</head>
<body>
<div id="header">
  <ul class="nav">
    <li id="logo">
      Simple CRM
    </li>
    <li class="greeting">
      <% if current_user %>
          Welcome to simple CRM 
      <% end %>
    </li>
    <span class="links">
      <% if current_user %>
       <li><%= link_to "Account", edit_account_path %> </li>
       <li> <%= link_to "Logout",user_session_path, :method=> :delete, :confirm =>"Do you want to logout?" %></li>
      <% else %>
        <li><%= link_to "Register", new_account_path %></li>
        <li><%= link_to "Login",new_user_session_path %></li>
      <% end %>
    </span>
  </ul>
  <ul class="nav tabs">
      <li><a href="/">Home</a></li> 
      <li><a href="/contacts"> Contacts </a></li> 
      <li><a href="/tasks"> To Dos </a></li> 
      <li><a href="/deals"> Deals </a></li> 
      <li><a href="/messages"> Messages </a></li> 
  </ul>
</div>
<div id="wrapper">
  <div class="content">
    <div class="advisor">
       get coaching
    </div>
     Main content
    <%= yield %>
  </div>
  <div class="actionitems">
    <%= yield :actionitems %>
  </div>
</div>
<div id="footer">
  Copyright Jobfully 2009
</div>
</body>
 
</html>
