!!! Transitional
%html{html_attrs}
  %head
    %meta{"http-equiv" => "Content-type", "content" => "text/html; charset=utf-8"}
    
    %title simpleCRM
    = stylesheet_link_tag 'layout.css', :media => 'screen, projection'
    = javascript_include_tag "jquery-1.4.js"
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? 
  %body
    #container
      #header
        %ul.nav
          %li#logo Simple CRM
          %li#greeting
            - if current_user
              Welcome to Simple CRM
          #global_links 
            - if current_user
              %li= link_to "Account" , edit_account_path        
              %li= link_to "Logout" , user_session_path, :method => :delete        
            - else
              %li= link_to "Register", new_account_path 
              %li= link_to "Login" , new_user_session_path        
              %li= link_to "Forgot Password" , new_password_reset_path      
        %ul.nav.tabs
          %li
            %a{:href => "/"} Home
          %li
            %a{:href => "/contacts"} Contacts
          %li
            %a{:href => "/tasks"} To Dos
          %li
            %a{:href => "/deals"} Deals
          %li
            %a{:href => "/messages"} Messages
      #content
        .notice= flash[:notice]
        .center
          Main Content
          = yield
        .sidebar
          Side Bar content
          = yield :actionitems
      #footer
        Copyright simple CRM 2009
